body {
  background-color: rgba(17,  17, 17, 1);
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}
.card{
	height: 100%;
	width: 600px;
  background-color: rgb(17, 17, 17);
}

.first-div{
	height: 600px;
  background-color: rgba(17, 17, 17, 1);
}

h2{	
	color:white;
}

#drop-menu{
  border: 1px solid;
  background-color: darkgray;
  color: white;
}

.dropdown-item{
  height: 30px
}
