{% extends 'layout.html' %}
{% load plotly_dash %}

<html>
<head>
	{% block title %}<title>States</title>{% endblock %}
</head>
<body>
	{% block content %}

	<div class="container-fluid second-div">
		{% plotly_app name='first' ratio=1 %}
	</div>
	<br>
	<div class="container-fluid second-div">
		{% plotly_app name='second' ratio=1 %}
	</div>
	<div class="container-fluid second-div">
		{% plotly_app name='third' ratio=1 %}
	</div>
	<div class="container-fluid second-div">
		{% plotly_app name='fourth' ratio=1 %}
	</div>

	{% endblock %}
</body>
</html>