{% extends 'layout.html' %}
{% load static %}
{% load plotly_dash %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}<title>Index</title>{% endblock %}
</head>
<body>
	{% block content %}
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				To prevent the spread of COVID-19:
				<ul>
					<li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
					<li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
					<li>Wear a mask when physical distancing is not possible.</li>
					<li>Don’t touch your eyes, nose or mouth.</li>
					<li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
					<li>Stay home if you feel unwell.</li>
					<li>If you have a fever, cough and difficulty breathing, seek medical attention.</li>
					<li>Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.</li>
				</ul>
				<h3>Masks</h3>
				<p>Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.</p>
				<div class="card-btn">
					<button type="button" class="btn btn-primary">
						<a href="https://www.mohfw.gov.in/">More Info</a>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="index-main-div container-fluid">
				<h2>A Complete Guide for COVID-19</h2>
				<iframe src="{% static '../static/pdf/FAQ.pdf' %}"></iframe>
			</div>
		</div>
	</div>
	<!-- <div><a href="form">form</a></div> -->
	<br>
	<br>
	<br>


	<div class="donation-div">
		<h2>If Your Would like to Donate please click on the following links:</h2>
		<p>
			<li><a href="https://www.pmcares.gov.in/en/">PM Cares fund</a></li> 
			<li><a href="https://cmrf.maharashtra.gov.in/CMRFCitizen/DonationOnlineForm.action">Maharashtra CM Relief Fund</a></li>
			<li><a href="https://aidindia.org/donate/covid-relief-fund/">aidindia.org</a></li>
			<li><a href="https://give2asia.org/covid-19-pandemic-response-india/">Give2Asia</a></li>
		</p>
		<p>
			Disclamer*
			<br>
			The Donations that you will make has no involment of the devlopers of this app. It is completely done on the official sites of the respective organisations.
		</p>
	</div>

	{% endblock %}
</body>
</html>