{% extends 'layout.html' %}
{% load plotly_dash %}

<!DOCTYPE html>
<html>
<head>
	{% block title %}<title>Dash App</title>{% endblock %}
</head>
<body>
	{% block content %}
	<br>
	<br>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="cases-tab" data-toggle="tab" href="#cases" role="tab" aria-controls="cases" aria-selected="true">Cases</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="vaccine-tab" data-toggle="tab" href="#vaccine" role="tab" aria-controls="vaccine" aria-selected="false">Vaccine</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane show active" id="cases" role="tabpanel" aria-labelledby="cases-tab">
			<div id="cases" class="tab-pane active">
				<div class="continer-fluid first-div">
					<td>{% plotly_app name='daily_cases' ratio=1 %}</td>
				</div>
				<br>
				<div class="contanier-fluid">
					<td>{% plotly_app name='total_cases_india_line_graph' ratio=1 %}</td>
				</div>
				<br>
			</div> 
		</div>
		<div class="tab-pane" id="vaccine" role="tabpanel" aria-labelledby="vaccine-tab">
			<div id="vaccine" class="tab-pane">
				<h1>Vaccination</h1>
				<br>
				<div class="row flex">
					<div class="col-md-6 contanier-fluid first-div">
						{% plotly_app name='vaccine_1' ratio=1 %}
					</div>
					<br>

					<div class="col-md-6 contanier-fluid first-div">
						{% plotly_app name='vaccine_2' ratio=1 %}
					</div>
					<br>
				</div>
				<div class="row flex">
					<div class="col-md-6 contanier-fluid first-div">
						{% plotly_app name='vaccine_3' ratio=1 %}
					</div>
					<div class="col-md-6 contanier-fluid first-div">
						{% plotly_app name='pie_india' ratio=1 %}
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="contanier-fluid">
		<h3>Have you registered yourself for vaccine yet?</h3>
		<h3>If not the head over to this <a href="http://selfregistration.cowin.gov.in/" target="_blank">link</a> to get your first jab of vaccine and help <b>India</b> fight Corona</h3>
	</div>
	{% endblock %}
</body>
</html>