{% extends 'layout.html' %}
{% load plotly_dash %}

<!DOCTYPE html>
<html>
<head>
	{% block title %}<title>Dash App</title>{% endblock %}
</head>
<body>
	{% block content %}
	<hr>
	<div class="continer-fluid first-div">
		<td>{% plotly_app name='daily_cases' ratio=1 %}</td>
	</div>

	<div class="row flex">
		<div class="col-md-6 contanier-fluid first-div">
			<td>{% plotly_app name='india_plot' ratio=1 %}</td>
		</div>
		<div class="col-md-6 contanier-fluid first-div">
			<td>{% plotly_app name='total_cases_india_line_graph' ratio=1 %}</td>
		</div>
	</div>
	<br>
	<br>
		<div class="contanier-fluid first-div">
			{% plotly_app name='recovry_death_india' ratio=1 %}
		</div> 

	<h1>Vaccination</h1>
	<br>
	<div class="row flex">
		<div class="col-md-6 contanier-fluid first-div">
			{% plotly_app name='vaccine_1' ratio=1 %}
		</div>
		<br>

		<div class="col-md-6 contanier-fluid first-div">
			{% plotly_app name='vaccine_2' ratio=1 %}
		</div>
		<br>
	</div>
	<div class="row flex">
		<div class="col-md-6 contanier-fluid first-div">
			{% plotly_app name='vaccine_3' ratio=1 %}
		</div>
		<div class="col-md-6 contanier-fluid first-div">
			{% plotly_app name='pie_india' ratio=1 %}
		</div>
	</div>
	<br>
	<div class="contanier-fluid">
		<h3>Have you registered yourself for vaccine yet?</h3>
		<h3>If not the head over to this <a href="http://selfregistration.cowin.gov.in/" target="_blank">link</a> to get your first jab of vaccine and help <b>India</b> fight Corona</h3>
	</div>
	{% endblock %}


</body>
</html>